# you may choose to override the test suite default demo key with your own,
# and you can do so by simply specifying your own test_credentials.json

# just create a json hash with the keys/values you want passed in to the
# HubSpotClient subclass constructors.  Here is a sample (and rememeber valid
# json does not allow any comments so you'll need to get rid of all the comments)

{
  "api_key": "YOUR-API-KEY-HERE"

  ***** optional parameters ******
  "timeout": 20,  # to change from the default 10 seconds
}



