# you may choose to override the test suite default demo key with your own,
# and you can do so by simply specifying your own test_credentials.json

# just create a json hash with the keys/values you want passed in to the
# HubSpotClient subclass constructors.  Here is a sample (and remember valid
# json does not allow any comments so you'll need to get rid of all the comments)

# If you're using OAuth, then you shouldn't specify an "api_key" in this file at all.
# instead, you should specify your Access Token. If you're using OAuth with an offline app, 
# then you should also include your app's client ID and the user's refresh token.
# See http://developers.hubspot.com/auth/oauth_overview for more information on OAuth.

{
  "api_key": "YOUR-API-KEY-HERE"

  ***** optional parameters ******
  "timeout": 20,  # to change from the default 10 seconds
}



